.orange {
	/* Button */
	width: 217px;
	padding: 20px 50px;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	outline: none;
	background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);

	/* Text */
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.5px;
	text-align: center;
}

.white {
	width: 126px;
	height: 44px;
	border-radius: 4px;
	background: #fff;
	border: 1px solid #ff3f3a;
	cursor: pointer;

	/* Text */
	font-weight: 700;
	font-size: 14px;
	color: #ff3f3a;
	letter-spacing: 0.5px;
}
