* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body {
	background: #f1f0f0;
}

.wrapper {
	max-width: 1230px;
	width: 100%;
	margin: 0 auto;
}

.modalWrapper {
	position: relative;
	display: none;
}

.activeModal {
	display: block;
}

.modal {
	position: absolute;
	max-width: 500px;
	top: 200px;
	right: 465px;
	border: 1px solid #ff3f3a;
	padding: 50px;
	border-radius: 16px;
	background: #ff3f3a;
}
