.input {
	border: 1px solid #d7dadd;
	border-radius: 4px;
	background: #fff;
	padding: 18px 0 18px 16px;
	outline: none;
	font-weight: 600;
	font-size: 18px;
	transition: all 0.3s;
}

.input::placeholder {
	font-weight: 400;
	font-size: 16px;
	color: #9a9ca5;
}

.input:focus {
	border: 1px solid #f75e05;
}
